@mixin flexbox {
  display:-webkit-box; // old
  display:-moz-box; // old
  display:-ms-flexbox; // ie
  display:-webkit-flex; // new
  display:flex; // new
}

// @mixin message($fSize, $color) {
//   font-size: $fSize;
//   color: $color;
// }

// @mixin header ($hHeight: 100px, $hPadding: 0 20px){
//   height: $hHeight;
//   padding: $hPadding;
//   display: flex;
// }
