$btn-color: #38AEF0;
$fontcolor1: #ffffff;

.wrapper {
.chat-side {
   width: 300px;
   font-weight: bold;
   color: $fontcolor1;
   float: left;
  .side-header {
    @include header();
    background: #253141;
    align-items: center;
    &__box {
      display: flex;
      position: relative;
      width: 100%;
      font-weight: bold;
      &--user-name {
        font-size: 16px;
      }
      &--btn {
        color: $fontcolor1;
        display: flex;
        position: absolute;
        right: 0;
        .side-header__box--btn-new {
          cursor: pointer;
          margin-left: 0.3rem;
        }
        .side-header__box--btn-edit {
          cursor: pointer;
          margin-left: 0.3rem;
        }
      }
    }
  }
  .groups {
     background: #2f3e51;
     padding: 20px 20px 0;
     height: calc(100vh - 100px);
     box-sizing:border-box;
    .group {
       padding-bottom: 40px;
      &__name {
        font-size: 16px;
        padding-bottom: 5px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}

.chat-main {
   height: 100vh;
   width: calc(100vw - 300px);
   float: right;
   position: relative;
   padding-bottom: 90px;
   box-sizing: border-box;
  .main-header {
    @include header(100px, 0 40px);
     border-bottom: solid 1px #eeeeee;
     box-sizing: border-box;
    &__left-box {
      padding-top: 35px;
      &--room-name{
        font-size: 20px;
        color: #333333;
        // padding-bottom: 15px;
      }
      &--menber-list {
        font-size: 12px;
        color: #999999;
      }
    }
     &__edit-btn {
      border: solid 1px $btn-color;
      color: $btn-color;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      position: absolute;
      right: 40px;
      margin-top: 28px;  
    }
  }
  .messages {
     height: calc(100vh - 190px);
     padding: 46px 40px 0 40px;
     background: #fafafa;
     box-sizing: border-box;
    .message {
       padding-bottom: 40px;
       &__info {
        &--talker {
          @include message(16px, #434A54);
          font-weight: bold;
          padding-bottom: 10px;
          float: left;
        }
        &--date {
          @include message(12px, #999999);
          padding-left: 10px;
          float: left;
        }
        &--text {
          @include message(14px, #434A54);
          clear: left;
        }
       }
    }
  }
  .form {
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    height: 90px;
    background-color: #dddddd;
    padding: 20px 40px;
    .new-message {
      height: 50px;
      width: 100%;
      .input-box {
        position: relative;
        display: flex;
        background-color: #ffffff;
        width: calc(100% - 115px);
        height: 50px;
        float: left;
        &__text{
          width: 100%;
          line-height: 50px;
          font-size: 16px;
          color: #434A54;
          padding: 0 0 0 10px;
          box-sizing: border-box;
          border-style: none;
          position: relative;
        }
        &__image {
          cursor: pointer;
        }
        .imagefield {
          background-color: #ffffff;
          height: 50px;
          width: 40px;
        }
        .fa-image {
          font-size: 1.3rem;
          position: absolute;
          top: 15px;
          right: 10px;
          cursor: pointer;
        }
      }
      .submit-btn {
        width: 100px;
        border: solid 1px $btn-color;
        background-color: $btn-color;
        color: #ffffff;
        padding: 0 30px;
        margin-left: 15px;
        height: 50px;
        cursor: pointer;
        float: left;
      }
     } 
    }
  }
}
test code